# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Environment variables
.env

# macOS specific
.DS_Store

# Editor specific
.vscode/
.idea/
*.swp

# Others
*.bak
*.tmp
*.temp
